# x86-64 architecture level v1 features:
# standard, EDX: FPU, CX8, CMOV, MMX, FXSR, SSE, SSE2
cpuid.0x00000001+=edx&=~0x07808101

# x86-64 architecture level v2 features:
# standard, ECX: SSE3, VMX, SSSE3, CX16, SSE41, SSE42, POPCNT
# AMD extended, ECX: LAHF
cpuid.0x00000001+=ecx&=~0x00982201
cpuid.0x80000001+=ecx&=~0x00000001

# x86-64 architecture level v3 features:
# standard, ECX: FMA, MOVBE, OSXSAVE, AVX, F16C
# extended, EBX: BMI1, AVX2, BMI2
# AMD extended, ECX: ABM
cpuid.0x00000001+=ecx&=~0x38401000
cpuid.0x00000007+=ebx&=~0x00000128
cpuid.0x80000001+=ecx&=~0x00000020

# x86-64 architecture level v4 features:
# extended, EBX: AVX512F, AVX512DQ, AVX512BW, AVX512VL
cpuid.0x00000007+=ebx&=~0xc0030000

# x86-64 architecture features beyond level v4:
# extended, EBX: AVX512PF, AVX512ER, AVX512CD, SHA
# extended, ECX: VAES, VPCLMULQDQ
cpuid.0x00000007+=ebx&=~0x3c000000
cpuid.0x00000007+=ecx&=~0x00000600


