# x86-64 architecture level v3
#
# enable the following features:
# standard, ECX: FMA, MOVBE, OSXSAVE, AVX, F16C
# extended, EBX: BMI1, AVX2, BMI2
# AMD extended, ECX: ABM
#
include x86-64-v2.cfg
cpuid.0x00000001+=ecx|=0x38401000
cpuid.0x00000007+=ebx|=0x00000128
cpuid.0x80000001+=ecx|=0x00000020
