# x86-64 architecture level v2
#
# enable the following features:
# standard, EDX: SSE3, VMX, SSSE3, CX16, SSE41, SSE42, POPCNT
# AMD extended, ECX: LAHF
#
include x86-64-v1.cfg
cpuid.0x00000001+=ecx|=0x00982201
cpuid.0x80000001+=ecx|=0x00000001
